<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangmeng.topic.mapping.PublishTopicMapper">
  <resultMap id="BaseResultMap" type="com.wangmeng.topic.domain.PublishTopic">
    <id column="Id" jdbcType="BIGINT" property="id" />
    <result column="Title" jdbcType="VARCHAR" property="title" />
    <result column="Content" jdbcType="VARCHAR" property="content" />
    <result column="PublisherId" jdbcType="BIGINT" property="publisherId" />
    <result column="ImgUri" jdbcType="VARCHAR" property="imgUri" />
    <result column="TopicType" jdbcType="INTEGER" property="topicType" />
    <result column="CreateTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CanComment" jdbcType="INTEGER" property="canComment" />
    <result column="LastCommentTime" jdbcType="TIMESTAMP" property="lastCommentTime" />
    <result column="DeadTime" jdbcType="TIMESTAMP" property="deadTime" />
  </resultMap>
  <sql id="Base_Column_List">
    Id, Title, Content, PublisherId, ImgUri, TopicType, CreateTime, CanComment, LastCommentTime, 
    DeadTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from wm_publish_topic
    where Id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from wm_publish_topic
    where Id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wangmeng.topic.domain.PublishTopic">
    insert into wm_publish_topic (Id, Title, Content, 
      PublisherId, ImgUri, TopicType, 
      CreateTime, CanComment, LastCommentTime, 
      DeadTime)
    values (#{id,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{publisherId,jdbcType=BIGINT}, #{imgUri,jdbcType=VARCHAR}, #{topicType,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{canComment,jdbcType=INTEGER}, #{lastCommentTime,jdbcType=TIMESTAMP}, 
      #{deadTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.wangmeng.topic.domain.PublishTopic">
    insert into wm_publish_topic
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="title != null">
        Title,
      </if>
      <if test="content != null">
        Content,
      </if>
      <if test="publisherId != null">
        PublisherId,
      </if>
      <if test="imgUri != null">
        ImgUri,
      </if>
      <if test="topicType != null">
        TopicType,
      </if>
      <if test="createTime != null">
        CreateTime,
      </if>
      <if test="canComment != null">
        CanComment,
      </if>
      <if test="lastCommentTime != null">
        LastCommentTime,
      </if>
      <if test="deadTime != null">
        DeadTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="publisherId != null">
        #{publisherId,jdbcType=BIGINT},
      </if>
      <if test="imgUri != null">
        #{imgUri,jdbcType=VARCHAR},
      </if>
      <if test="topicType != null">
        #{topicType,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="canComment != null">
        #{canComment,jdbcType=INTEGER},
      </if>
      <if test="lastCommentTime != null">
        #{lastCommentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deadTime != null">
        #{deadTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wangmeng.topic.domain.PublishTopic">
    update wm_publish_topic
    <set>
      <if test="title != null">
        Title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        Content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="publisherId != null">
        PublisherId = #{publisherId,jdbcType=BIGINT},
      </if>
      <if test="imgUri != null">
        ImgUri = #{imgUri,jdbcType=VARCHAR},
      </if>
      <if test="topicType != null">
        TopicType = #{topicType,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        CreateTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="canComment != null">
        CanComment = #{canComment,jdbcType=INTEGER},
      </if>
      <if test="lastCommentTime != null">
        LastCommentTime = #{lastCommentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deadTime != null">
        DeadTime = #{deadTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where Id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wangmeng.topic.domain.PublishTopic">
    update wm_publish_topic
    set Title = #{title,jdbcType=VARCHAR},
      Content = #{content,jdbcType=VARCHAR},
      PublisherId = #{publisherId,jdbcType=BIGINT},
      ImgUri = #{imgUri,jdbcType=VARCHAR},
      TopicType = #{topicType,jdbcType=INTEGER},
      CreateTime = #{createTime,jdbcType=TIMESTAMP},
      CanComment = #{canComment,jdbcType=INTEGER},
      LastCommentTime = #{lastCommentTime,jdbcType=TIMESTAMP},
      DeadTime = #{deadTime,jdbcType=TIMESTAMP}
    where Id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.wangmeng.topic.domain.PublishTopic">
    <id column="Id" jdbcType="BIGINT" property="id" />
    <result column="Title" jdbcType="VARCHAR" property="title" />
    <result column="Content" jdbcType="VARCHAR" property="content" />
    <result column="PublisherId" jdbcType="BIGINT" property="publisherId" />
    <result column="ImgUri" jdbcType="VARCHAR" property="imgUri" />
    <result column="TopicType" jdbcType="INTEGER" property="topicType" />
    <result column="CreateTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CanComment" jdbcType="INTEGER" property="canComment" />
    <result column="LastCommentTime" jdbcType="TIMESTAMP" property="lastCommentTime" />
    <result column="DeadTime" jdbcType="TIMESTAMP" property="deadTime" />
  </resultMap>
  <sql id="Base_Column_List">
    Id, Title, Content, PublisherId, ImgUri, TopicType, CreateTime, CanComment, LastCommentTime, 
    DeadTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from wm_publish_topic
    where Id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from wm_publish_topic
    where Id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wangmeng.topic.domain.PublishTopic">
    insert into wm_publish_topic (Id, Title, Content, 
      PublisherId, ImgUri, TopicType, 
      CreateTime, CanComment, LastCommentTime, 
      DeadTime)
    values (#{id,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{publisherId,jdbcType=BIGINT}, #{imgUri,jdbcType=VARCHAR}, #{topicType,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{canComment,jdbcType=INTEGER}, #{lastCommentTime,jdbcType=TIMESTAMP}, 
      #{deadTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.wangmeng.topic.domain.PublishTopic">
    insert into wm_publish_topic
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="title != null">
        Title,
      </if>
      <if test="content != null">
        Content,
      </if>
      <if test="publisherId != null">
        PublisherId,
      </if>
      <if test="imgUri != null">
        ImgUri,
      </if>
      <if test="topicType != null">
        TopicType,
      </if>
      <if test="createTime != null">
        CreateTime,
      </if>
      <if test="canComment != null">
        CanComment,
      </if>
      <if test="lastCommentTime != null">
        LastCommentTime,
      </if>
      <if test="deadTime != null">
        DeadTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="publisherId != null">
        #{publisherId,jdbcType=BIGINT},
      </if>
      <if test="imgUri != null">
        #{imgUri,jdbcType=VARCHAR},
      </if>
      <if test="topicType != null">
        #{topicType,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="canComment != null">
        #{canComment,jdbcType=INTEGER},
      </if>
      <if test="lastCommentTime != null">
        #{lastCommentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deadTime != null">
        #{deadTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wangmeng.topic.domain.PublishTopic">
    update wm_publish_topic
    <set>
      <if test="title != null">
        Title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        Content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="publisherId != null">
        PublisherId = #{publisherId,jdbcType=BIGINT},
      </if>
      <if test="imgUri != null">
        ImgUri = #{imgUri,jdbcType=VARCHAR},
      </if>
      <if test="topicType != null">
        TopicType = #{topicType,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        CreateTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="canComment != null">
        CanComment = #{canComment,jdbcType=INTEGER},
      </if>
      <if test="lastCommentTime != null">
        LastCommentTime = #{lastCommentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deadTime != null">
        DeadTime = #{deadTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where Id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wangmeng.topic.domain.PublishTopic">
    update wm_publish_topic
    set Title = #{title,jdbcType=VARCHAR},
      Content = #{content,jdbcType=VARCHAR},
      PublisherId = #{publisherId,jdbcType=BIGINT},
      ImgUri = #{imgUri,jdbcType=VARCHAR},
      TopicType = #{topicType,jdbcType=INTEGER},
      CreateTime = #{createTime,jdbcType=TIMESTAMP},
      CanComment = #{canComment,jdbcType=INTEGER},
      LastCommentTime = #{lastCommentTime,jdbcType=TIMESTAMP},
      DeadTime = #{deadTime,jdbcType=TIMESTAMP}
    where Id = #{id,jdbcType=BIGINT}
  </update>
</mapper>