<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangmeng.mapper.RolePowerMapper" >
  <resultMap id="BaseResultMap" type="com.wangmeng.beans.RolePower" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="roleid" property="roleid" jdbcType="BIGINT" />
    <result column="powerid" property="powerid" jdbcType="BIGINT" />
    <result column="xuid" property="xuid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, roleid, powerid, xuid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from wm_sys_role_power
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from wm_sys_role_power
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wangmeng.beans.RolePower" >
    insert into wm_sys_role_power (id, roleid, powerid, 
      xuid)
    values (#{id,jdbcType=BIGINT}, #{roleid,jdbcType=BIGINT}, #{powerid,jdbcType=BIGINT}, 
      #{xuid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wangmeng.beans.RolePower" >
    insert into wm_sys_role_power
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="roleid != null" >
        roleid,
      </if>
      <if test="powerid != null" >
        powerid,
      </if>
      <if test="xuid != null" >
        xuid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="roleid != null" >
        #{roleid,jdbcType=BIGINT},
      </if>
      <if test="powerid != null" >
        #{powerid,jdbcType=BIGINT},
      </if>
      <if test="xuid != null" >
        #{xuid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wangmeng.beans.RolePower" >
    update wm_sys_role_power
    <set >
      <if test="roleid != null" >
        roleid = #{roleid,jdbcType=BIGINT},
      </if>
      <if test="powerid != null" >
        powerid = #{powerid,jdbcType=BIGINT},
      </if>
      <if test="xuid != null" >
        xuid = #{xuid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wangmeng.beans.RolePower" >
    update wm_sys_role_power
    set roleid = #{roleid,jdbcType=BIGINT},
      powerid = #{powerid,jdbcType=BIGINT},
      xuid = #{xuid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>