<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangmeng.mapper.SysUserMapper" >
  <resultMap id="BaseResultMap" type="com.wangmeng.beans.SysUser" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="xuid" property="xuid" jdbcType="VARCHAR" />
    <result column="user_type" property="userType" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_pwd" property="userPwd" jdbcType="VARCHAR" />
    <result column="cellphone" property="cellphone" jdbcType="VARCHAR" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="sta" property="sta" jdbcType="SMALLINT" />
    <result column="last_login_time" property="lastLoginTime" jdbcType="TIMESTAMP" />
    <result column="last_logout_time" property="lastLogoutTime" jdbcType="TIMESTAMP" />
    <result column="region_name" property="regionName" jdbcType="VARCHAR" />
    <result column="auth_passwd" property="authPasswd" jdbcType="VARCHAR" />
    <result column="remind" property="remind" jdbcType="SMALLINT" />
    <result column="msgsend" property="msgsend" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, xuid, user_type, user_name, user_pwd, cellphone, real_name, create_time, email, 
    sta, last_login_time, last_logout_time, region_name, auth_passwd, remind, msgsend
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from wm_sys_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from wm_sys_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="SysUser" >
    insert into wm_sys_user (id, xuid, user_type, 
      user_name, user_pwd, cellphone, 
      real_name, create_time, email, 
      sta, last_login_time, last_logout_time, 
      region_name, auth_passwd, remind, 
      msgsend)
    values (#{id,jdbcType=BIGINT}, #{xuid,jdbcType=VARCHAR}, #{userType,jdbcType=INTEGER}, 
      #{userName,jdbcType=VARCHAR}, #{userPwd,jdbcType=VARCHAR}, #{cellphone,jdbcType=VARCHAR}, 
      #{realName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{email,jdbcType=VARCHAR}, 
      #{sta,jdbcType=SMALLINT}, #{lastLoginTime,jdbcType=TIMESTAMP}, #{lastLogoutTime,jdbcType=TIMESTAMP}, 
      #{regionName,jdbcType=VARCHAR}, #{authPasswd,jdbcType=VARCHAR}, #{remind,jdbcType=SMALLINT}, 
      #{msgsend,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.wangmeng.beans.SysUser" >
    insert into wm_sys_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="xuid != null" >
        xuid,
      </if>
      <if test="userType != null" >
        user_type,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="userPwd != null" >
        user_pwd,
      </if>
      <if test="cellphone != null" >
        cellphone,
      </if>
      <if test="realName != null" >
        real_name,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="sta != null" >
        sta,
      </if>
      <if test="lastLoginTime != null" >
        last_login_time,
      </if>
      <if test="lastLogoutTime != null" >
        last_logout_time,
      </if>
      <if test="regionName != null" >
        region_name,
      </if>
      <if test="authPasswd != null" >
        auth_passwd,
      </if>
      <if test="remind != null" >
        remind,
      </if>
      <if test="msgsend != null" >
        msgsend,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="xuid != null" >
        #{xuid,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null" >
        #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="cellphone != null" >
        #{cellphone,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="sta != null" >
        #{sta,jdbcType=SMALLINT},
      </if>
      <if test="lastLoginTime != null" >
        #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLogoutTime != null" >
        #{lastLogoutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="regionName != null" >
        #{regionName,jdbcType=VARCHAR},
      </if>
      <if test="authPasswd != null" >
        #{authPasswd,jdbcType=VARCHAR},
      </if>
      <if test="remind != null" >
        #{remind,jdbcType=SMALLINT},
      </if>
      <if test="msgsend != null" >
        #{msgsend,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wangmeng.beans.SysUser" >
    update wm_sys_user
    <set >
      <if test="xuid != null" >
        xuid = #{xuid,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        user_type = #{userType,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null" >
        user_pwd = #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="cellphone != null" >
        cellphone = #{cellphone,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="sta != null" >
        sta = #{sta,jdbcType=SMALLINT},
      </if>
      <if test="lastLoginTime != null" >
        last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLogoutTime != null" >
        last_logout_time = #{lastLogoutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="regionName != null" >
        region_name = #{regionName,jdbcType=VARCHAR},
      </if>
      <if test="authPasswd != null" >
        auth_passwd = #{authPasswd,jdbcType=VARCHAR},
      </if>
      <if test="remind != null" >
        remind = #{remind,jdbcType=SMALLINT},
      </if>
      <if test="msgsend != null" >
        msgsend = #{msgsend,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wangmeng.beans.SysUser" >
    update wm_sys_user
    set xuid = #{xuid,jdbcType=VARCHAR},
      user_type = #{userType,jdbcType=INTEGER},
      user_name = #{userName,jdbcType=VARCHAR},
      user_pwd = #{userPwd,jdbcType=VARCHAR},
      cellphone = #{cellphone,jdbcType=VARCHAR},
      real_name = #{realName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      email = #{email,jdbcType=VARCHAR},
      sta = #{sta,jdbcType=SMALLINT},
      last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      last_logout_time = #{lastLogoutTime,jdbcType=TIMESTAMP},
      region_name = #{regionName,jdbcType=VARCHAR},
      auth_passwd = #{authPasswd,jdbcType=VARCHAR},
      remind = #{remind,jdbcType=SMALLINT},
      msgsend = #{msgsend,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="getAll" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from wm_sys_user
  </select>
</mapper>